name: build
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]
jobs:
  project:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.6.0

      # Do something to build the project
